.promo-card {
    display: flex;
    flex-direction: column;
    max-height: 400px !important;
    height: 100% !important;

    &__text {
        @include line-clamp(2);
        padding: 0 20px 15px 20px;
        font-size: 24px;
    }

}