.rating {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;

    &__input {
        display: none;
    }

    &__star {
        cursor: pointer;
        width: 16px;
        height: 16px;
        display: inline-block;
        &::before {
            background-color: $gray;
        }

        &:hover,
        &:hover~.rating__star {
            &::before {
                background-color: $yellow;
            }
        }
    }

    &__input:checked~&__star {
        &::before {
            background-color: $yellow;
        }
    }
}