.application {
    $application: &;

    &__inner {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        min-height: 385px;
    }

    &__box {
        max-width: 470px;
    }

    &__title {
        margin-bottom: 45px;
    }

    &__text > p {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 1.5;
        opacity: 0.9;
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 30px;
    }

    &link{
        border: 1px solid #C2C2C2;
        display: block;

        // &:hover {

        //     #{$application}__img {
        //         border-radius: 4px;
        //         outline: 2px solid rgba($orange-900, 0.70);
        //         box-shadow: 0 3px 15px 0 rgba($orange-900, 0.50);
        //     }
        // }
    } 

    .application-link:active img {
        box-shadow: 2px 2px 5px rgba(54, 56, 83, 0.50);
    }


    .application__apple {
        &::before {
            content: '';
            mask-image: url('../../images/application/app_store.svg');
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            display: block;
            width: 100px;
            height: 40px;
            background-color: rgba($color: #000000, $alpha: 1.0);
        }
    }
}