.application {

    &__inner {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        min-height: 380px;

        @include r(576) {
            background-image: none !important;
            min-height: 195px;
        }
    }

    &__box {
        max-width: 470px;
    }

    &__title {
        text-align: left;
        margin-bottom: 45px;

        @include r(576) {
            margin-bottom: 15px;
        }
    }

    &__text {
        p {
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 1.5;
            opacity: 0.9;

            @include r(576) {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 30px;
    }

    &__link {
        display: flex;
        border-radius: 5px;
        transition: box-shadow 0.4s, outline 0.4s;

        &:hover {
            box-shadow: 0 3px 15px 0 rgba($orange-900, 0.50);
        }

        &:focus {
            outline: 2px solid rgba($orange-900, 0.70);
        }

        &:active {
            outline: 2px solid rgba($orange-900, 0.40);
        }

        &::before {
            content: '';
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 40px;
        }

        &--apple {
            &::before {
                width: 120px;
                background-image: url('../../images/application/app_store.svg');

            }
        }

        &--google {
            &::before {
                width: 135px;
                background-image: url('../../images/application/play_store.svg');

            }
        }

    }
}