.hero {
    font-size: 20px;

    &__inner {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        min-height: 655px;
        position: relative;
        z-index: 1;

        @include r($r-md) {

            min-height: 455px;

            &::before {
                content: "";
                background-color: rgba($white, 0.85);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
            }
        }

        @include r($r-xs) {
            align-items: center;
            min-height: 300px;
        }
    }

    &__content {
        max-width: 476px;
    }

    &__title {
        font-weight: 500;
        font-size: 66px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $darkBlue-900;

        @include r($r-xs) {
            font-size: 40px;
        }
    }

    &__text {
        max-width: 450px;
        line-height: 1.5;
        margin-bottom: 20px;


        @include r($r-xs) {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &__btn {
        letter-spacing: 0.01em;
        margin-right: 20px;
        font-size: 18px;

        @include r($r-xs) {
            font-size: 14px;
            border-radius: 3px;
        }
    }

    &__link {

        &:hover::after,
        &:focus::after,
        &:active::after {
            border-bottom-color: transparent;
        }
    }

}