.price-slider {
    width: 100%;
    height: 2px;
    background-color: $gray !important;
}

.noUi-target {
    border: none;
    height: 2px;
}

.price-slider .noUi-connect {
    background-color: $orange-900 !important;
}

.price-slider .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $orange-900;
    cursor: pointer;
    box-shadow: none;
}

.price-slider .noUi-handle.noUi-active {
    box-shadow: 0 0 5px $orange-900;
}

.price-slider .noUi-handle:before,
.price-slider .noUi-handle:after {
    display: none;
}

.price-slider .noUi-handle {
    transform: translateY(-4px);
}

.min-price,
.max-price {
    display: none;
}