.hero {
    padding: 0;

&__inner {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 155px 0;
}

&__content {
    max-width: 476px;
}

&__title {
    @extend %rubik-500;
    font-size: 66px;
    text-transform: uppercase;
    color: $orange-900;
    margin-bottom: 20px;
}

&__title--color {
    display: block;
    margin-bottom: 10px;
    color: $darkBlue-900;
}

&__text {
    max-width: 450px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

&__button {
    letter-spacing: 0.54px;
    margin-right: 20px;
    outline: 2px solid transparent;
    transition: color 0.4s, outline-color 0.4s, background-color 0.4s;
    &:hover{
        color: $orange-900;
        outline-color: rgba($orange-900, 0.7);
        background-color: transparent;
    }
    &:focus{
        color: $orange-900; 
        outline-color: rgba($orange-900, 0.7);
        background-color: rgba($orange-900, 0.10);
    }
    &:active{
        color: $orange-900;
        background-color: rgba($orange-900, 0.10);
    }
}

&__link {
    font-size: 20px;
    line-height: 1.5;
    color: $darkBlue-900;
    position: relative;
    border-radius: 5px;
    outline: 2px solid transparent;
    text-decoration: underline;
    transition: color 0.3s, outline-color 0.3s, text-shadow 0.3s;

    &:hover {
        color: $orange-900;
    }
    &:focus
    {
        outline-color: rgba($orange-900, 0.7);
    }
    &:active {
        text-shadow: 2px 2px 5px rgba($dark, 0.5);
    }
}
}