.product-gallery {
    display: flex;
    gap: 30px;

    @include r($r-md) {
        flex-direction: column;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 610px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $silver-200;
        background-color: $white;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 500px;
        width: 100%;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__rating {
        margin-bottom: 25px;
    }

    &__price {
        font-size: 25px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    &__order {
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 13px 28px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        background-color: $orange-900;
        color: $white;

        &::before {
            background-color: $white;
        }

    }

    &__subtitle {
        margin-bottom: 35px;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.72px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: $gray;
        }
    }

    &__text {
        margin-bottom: 20px;
        font-size: 16px;
        letter-spacing: 0.48px;
        line-height: 1.5;
    }

    &__link {
        font-size: 20px;
        text-decoration-line: underline;
    }

    &__list {
        padding: 75px 105px;
    }
}