<div class="filter-menu">

    <nav class="filter-menu__nav">

        <div class="filter-menu__box">
            <button class="filter-menu__close icon icon--burger-close" type="button">
                <span class="sr-only">Закрити меню</span>
            </button>
        </div>

        <h2 class="filter-menu__title">
            Категорії
        </h2>

        <ul class="filter-menu__list">

            <li class="filter-menu__item">
                <a class="link" href="#">
                    Бургери
                </a>
            </li>
            <li class="filter-menu__item">
                <a class="link" href="#">
                    Піца
                </a>
            </li>
            <li class="filter-menu__item">
                <a class="link" href="#">
                    Сендвічі
                </a>
            </li>
            <li class="filter-menu__item">
                <a class="link" href="#">
                    Азійська кухня
                </a>
            </li>
            <li class="filter-menu__item">
                <a class="link" href="#">
                    Сети
                </a>
            </li>
            <li class="filter-menu__item">
                <a class="link" href="#">
                    Європейська кухня
                </a>
            </li>
            <li class="filter-menu__item">
                <a class="link" href="#">
                    Напої
                </a>
            </li>
            <li class="filter-menu__item">
                <a class="link" href="#">
                    Алкоголь
                </a>
            </li>

        </ul>

        <div class="filter-menu__inner">

            <h2 class="filter-menu__title">
                Пропозиції
            </h2>

            @include('../checkbox/_checkbox.html')

        </div>

        <div class="filter-menu__wrapper">

            <h2 class="filter-menu__title">
                Ціна
            </h2>

            <div class="filter-menu__container">
                @include('../price-box/_price-box.html')

                @include('../slider-price/_slider-price.html')
            </div>

        </div>

    </nav>

</div>