.restaurant {

    &__title {
        text-align: center;
        margin-bottom: 60px;

        @include r(576) {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;

        @include r(576) {
            grid-template-columns: repeat(1, auto);
        }
    }
}