.restaurant {

&__title {
    text-align: center;
    margin-bottom: 60px;
}

&__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}

}

.rest-card {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
    max-width: 370px;
    background-color: $white;
    border-radius: 10px;

    &:hover {
        background-color: $white;
        box-shadow: 0 3px 15px 0 rgba($orange-900, 0.50);
    }

    &__img {
        object-fit: cover;
        margin-bottom: 15px;
    }

    &__box {
        display: flex;
        padding: 0 20px 20px 20px;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px 0;
    }

    &__title {
        font-size: 24px;
        display: block;
        width: 100%;
        @include line-clamp(1);
    }

    &__icon {
        margin-right: 10px;
        &--time {
            width: 22px;
            height: 22px;
            mask-image: url('../../images/icons/sprite.svg#icon-time');
        }
    }

    &__btn &__icon {
        transition: transform 0.4s;
    }

    &__btn {
        margin-left: auto;
        border-radius: 20px;
        padding: 0;
        display: flex;
        align-items: center;
        width: 79px;
        height: 33px;

        &:hover .rest-card__icon{
            transform: translateX(20px);
        }

        .rest-card__icon {
            margin: 0 auto;
        }

        &:hover .rest-card__icon,
        &:focus .rest-card__icon,
        &:active .rest-card__icon {
            background-color: $orange-900;
        }

    }

    &__icon--arrow {
        width: 16px;
        height: 16px;
        mask-image: url('../../images/icons/sprite.svg#icon-arrow-right');
        background-color: $white;
    }

}



