.catalog-categories {
    max-width: 270px;
    background-color: $white;
    border: 1px solid $silver-200;
    border-radius: 5px;
    padding: 15px 15px 25px 15px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__link {
        display: flex;
        font-size: 18px;
        width: 100%;
    }
}


.catalog__subtitle {
    font-size: 24px;
    letter-spacing: 0.72px;
    line-height: 1.2;
    position: relative;
    margin-bottom: 40px;

    &::before {
        content: '';
        position: absolute;
        bottom: -15px;
        width: 100%;
        border-bottom: 1px solid $silver-200;
    }
}