.product-info {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
        content: '';
        width: 100vw;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: $gray;
        position: absolute;
    }

    &__btn {
        &--active {
            color: $orange-900;
        }
    }

    &__details-title {
        display: flex;
        justify-content: center;
        gap: 60px;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 30px;
        width: 100%;
        overflow-x: auto;

        @include r($r-md) {
            justify-content: center;
        }

        @include r($r-sm) {
            justify-content: flex-start;
        }
    }

    &__details-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__box {
        max-width: 690px;
    }

    &__review {
        display: flex;
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__traits-parameter {
        font-weight: 500;
        font-size: 20px;
    }

    &__traits-value {
        font-weight: normal;
    }

    &__review-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__review-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 46px;
    }

    &__review-inner {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__review-user {
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;

        &::before {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }

    &__review-text {
        font-size: 20px;
    }

    &__review-date {
        margin-bottom: 20px;
    }
}

.product-info__box,
.product-info__traits,
.product-info__review {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.product-info__box.active,
.product-info__traits.active,
.product-info__review.active {
    opacity: 1;
    max-height: 1000px;
}