.product-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 30px;
    margin-bottom: 60px;
    align-items: center;

    @include r(1200) {
        gap: 20px;
        margin-bottom: 30px;
    }

    @include r(992) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-bottom: 30px;
        gap: 10px 5px;
    }
}