<section class="breadcrumbs">

    <div class="container">

    <div class="breadcrumbs__inner">

        <ul class="breadcrumbs__list">

            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link link" href="../../index.html">
                    Головна
                </a>
            </li>

            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link link" href="../../catalog.html">
                    Каталог продуктів
                </a>
            </li>

        </ul>

    </div>

</div>

</section>