.breadcrumbs {
    background-color: rgba($orange-900, 0.10);
    margin-bottom: 60px;

    &__inner {
        display: flex;
        padding: 24px 0;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        letter-spacing: 0.42px;
        line-height: 1.2;

        &::before {
            min-width: 6px !important;
            height: 10px;
            background-color: $gray;
        }
    }

}