.restaurant {

    &__title {
        @include r($r-xs) {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;

        @include r($r-md) {
            gap: 10px;
        }

        @include r($r-sm) {
            display: flex;
            gap: 0;
        }

        @include r($r-xs) {
            // display: flex;
            // flex-wrap: nowrap;
            // gap: 0;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
    }
}