.features {

    &__inner {
        padding: 0 70px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-position: calc(0% + 70px);
        background-size: contain;
        min-height: 585px;
        position: relative;
        z-index: 1;

        @include r($r-lg) {
            &::before {
                content: "";
                background-color: rgba($white, 0.85);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
            }
        }

        @include r($r-md) {
            align-items: center;
            justify-content: center;
            min-height: 462px;
        }

        @include r($r-xs) {
            padding: 0;
        }
    }

    &__content {
        max-width: 470px;
        margin-top: 58px;

        @include r($r-md) {
            margin-top: 0;
        }
    }

    &__title {
        text-align: left;
    }

    &__title,
    &__text,
    &__list {
        margin-bottom: 30px;
    }

    &__text {

        @include r($r-xs) {
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            line-height: 1.5;

            @include r($r-md) {
                font-size: 18px;
            }
        }

    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        font-size: 24px;
        gap: 30px;

        @include r($r-md) {
            font-size: 18px;
            gap: 10px;
            margin-bottom: 15px;
        }

        &::before {
            width: 34px;
            height: 34px;
        }
    }

    &__btn {
        font-size: 18px;

        @include r($r-md) {
            font-size: 14px;
        }
    }
}