.review {

    &__inner {
        padding: 0 90px;

        @include r(768) {
            position: relative;
            padding: 0;
        }
    }

    &__title {

        @include r(768) {
            margin-bottom: 30px;
        }
    }
}