.catalog {
    &__inner {

    }

    &__wrapper {
        display: flex;
        gap: 30px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
        margin-bottom: 60px;
        align-items: center;
    }
}

.filters-right {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    gap: 30px;
}
