<li class="@productClass" data-category="@productDataCategory">
    <article class="product-card">
        <a class="link product-card__link" href="#">
            <img class="product-card__img" src="@productImageUrl" alt="фотографія @productAlt" width="140" height="140">
            <h3 class="link product-card__title">@productTitle</h3>
            <span class="product-card__price">@productPrice</span>
        </a>
        <button class="btn product-card__btn" type="button">До кошика</button>
    </article>
</li>