.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 61px 5px 59px 5px;

    &__inner {
        display: flex;
    }

    &__list {
        display: flex;
        margin: 0 50px 0 auto;
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }

    &__link {
        letter-spacing: 0.18px;
        border-radius: 5px;

        &--active {
            color: $orange-900;
        }
    }
}

.user-nav {
    display: flex;
    margin-right: -5px;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__btn {
        width: 44px;
        height: 44px;
        outline: 2px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, outline-color 0.3s;

        &:hover {
            background-color: $orange-900;
        }

        &:focus {
            outline-color: rgba($orange-900, 0.7);
            background-color: rgba($orange-900, 0.10);
        }

        &:active {
            background-color: rgba($orange-900, 0.10);
        }
    }

    &__btn--cart {
        position: relative;
    }

    &__number {
        position: absolute;
        border-radius: 50%;
        background-color: $orange-900;
        right: 4px;
        top: 7px;
        width: 14px;
        height: 14px;
        color: $white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}