.burger {
  @include burger;
  $burgerWidth: 30px;
  $burgerHeight: 20px;
  $burgerLineHeight: 2px;
  $burgerColor: $darkBlue-900;
  margin-right: 8px;
  display: none;

  @include r(1024) {
    display: flex;
  }
}

.burger__container {
  padding: 25px 15px;
}

.burger__logo {
  margin-bottom: 25px;
  display: block;
}

.burger__nav {
  transform: translateX(-200%);
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: black;
  z-index: 9999;
  transition: transform 0.7s;
}

.burger__nav--active {
  transform: translateX(0);
}

.lock {
  overflow: hidden
}

.burger__list {
  position: relative;
  padding: 25px 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid red;
    top: 0;
    left: 0;
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid red;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}