<header class="header" id="header">
    <div class="container">

        <nav class="menu">

            <a class="logo header__logo" href="./index.html">
                <img class="logo__img" src="./assets/images/logo.svg" alt="Логотип компанії" width="200" height="39">
            </a>

            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href="./index.html">Головна</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="./catalog.html">Страви</a>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="#footer">Контакти</a>
                </li>
            </ul>

            <ul class="user-nav">
                <li class="user-nav__item">
                    <button class="user-nav__btn icon icon--search" type="button">
                        <span class="sr-only">
                            Почати пошук
                        </span>
                    </button>
                </li>

                <li class="user-nav__item">
                    <button class="user-nav__btn icon icon--cart" type="button">
                        <span class="sr-only">
                            Відкрити корзину
                        </span>
                        <span class="user-nav__number">4</span>
                    </button>
                </li>
            </ul>

            @include('../mobile-menu/_mobile-menu.html')

        </nav>
    </div>
</header>