<div class="checkbox">

    <input type="checkbox" id="discountCheckbox" class="checkbox__input">
    <label for="discountCheckbox" class="checkbox__label icon icon--check">
        Зі знижкою
    </label>

</div>

<div class="checkbox">

    <input type="checkbox" id="newArrivalCheckbox" class="checkbox__input">
    <label for="newArrivalCheckbox" class="checkbox__label icon icon--check">
        Новинка
    </label>

</div>

<div class="checkbox">

    <input type="checkbox" id="seasonalHitCheckbox" class="checkbox__input">
    <label for="seasonalHitCheckbox" class="checkbox__label icon icon--check">
        Хіт сезону
    </label>

</div>