<div class="price">

    <label class="price__label" for="minPrice">
        <span class="price__text">
            від
        </span>
        <input class="price__input" type="number" id="minPrice" name="minPrice" min="1" step="1" max="9999" value="100">
        <span class="price__text">
            &#8372;
        </span>
    </label>

    <label class="price__label" for="maxPrice">
        <span class="price__text">
            до
        </span>
        <input class="price__input" type="number" id="maxPrice" name="maxPrice" min="1" step="1" max="9999"
            value="1000">
        <span class="price__text">
            &#8372;
        </span>
    </label>

</div>