.features {

&__inner {
    padding: 0 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: calc(0% + 70px);
    background-size: contain;
    min-height: 590px;
}

&__content {
    max-width: 470px;
    margin-top: 58px;
}

&__text>p {
    font-size: 20px;
    line-height: 1.5;
}

&__title,
&__text,
&__list {
    margin-bottom: 31px;
}

&__item {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    font-size: 24px;
}

&__icon {
    width: 34px;
    height: 34px;
    margin-right: 30px;

    &--timer {
        mask-image: url('../../images/icons/sprite.svg#icon-timer');
        background-color: $orange-900;
    }
    
    &--delivery {
        mask-image: url('../../images/icons/sprite.svg#icon-delivery');
        background-color: #00AAFF;
    }
    
    &--restorant {
        mask-image: url('../../images/icons/sprite.svg#icon-restorant');
        background-color: #FF2222;
    }
}

&__btn {
    letter-spacing: 0.54px;
    font-size: 18px;
}

}
