.features {

    &__inner {
        padding: 0 70px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-position: calc(0% + 70px);
        background-size: contain;
        min-height: 590px;
    }

    &__content {
        max-width: 470px;
        margin-top: 58px;
    }

    &__text {
        
        p {
            font-size: 20px;
            line-height: 1.5;
        }
    }

    &__title,
    &__text,
    &__list {
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        font-size: 24px;
        gap: 30px;
    }

    &__btn {
        font-size: 18px;
    }
}

.icon {

    &--features {
        display: flex;
        &::before {
            content: '';
            width: 34px;
            height: 34px;
        }
    }

    &--timer {
        &::before {
            mask-image: url('../../images/icons/sprite.svg#icon-timer');
            background-color: $orange-900;
        }
    }

    &--delivery {
        &::before {
            mask-image: url('../../images/icons/sprite.svg#icon-delivery');
            background-color: $blue;
        }
    }

    &--restorant {
        &::before {
            mask-image: url('../../images/icons/sprite.svg#icon-restorant');
            background-color: $red;
        }
    }
}