.categories {

    &__inner {
        text-align: center;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__filter {
        display: flex;
        margin-bottom: 45px;
        justify-content: center;
    }

    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__btn {
        font-size: 20px;
        color: $darkBlue-900;
        background-color: $white;
        padding: 13px 32px;
        outline: 1px solid $silver-200;
        display: flex;
        align-items: center;

        &--active {
            color: $white;
            background-color: $orange-900;
        }

        &:hover {
            outline-color: rgba($orange-900, 0.7);
            background-color: rgba($orange-900, 0.10);
        }

        &:focus {
            outline-color: rgba($orange-900, 0.7);
        }

        &:active {
            box-shadow: 0 -5px 12px 0 rgba($orange-900, 0.20) inset;
        }
    }

    &__more {
        font-size: 20px;
        line-height: 1.5px;
        transition: color 0.3s, border-radius 0.3s, outline-color 0.3s, text-shadow 0.3s;

        &--text {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                border-bottom: 1px solid $darkBlue-900;
                width: 100%;
                left: 0;
                bottom: 2px;
            }
        }

        &:hover {
            color: $orange-900;
        }

        &:focus {
            border-radius: 5px;
            outline-color: rgba($orange-900, 0.7);
        }

        &:active {
            text-shadow: 2px 2px 5px rgba($dark, 0.5);
        }
    }
}

.product-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 210px));
    grid-auto-rows: minmax(0, 300px);
    gap: 30px;
    margin-bottom: 60px;
    align-items: center;
}

.icon-masc--category {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.icon-mask--icon-category-burger  {
    mask-image: url('../../images/icons/sprite.svg#icon-category-burger');
}

.icon-mask--icon-category-pizza  {
    mask-image: url('../../images/icons/sprite.svg#icon-category-pizza');
}

.icon-mask--icon-category-sandvich  {
    mask-image: url('../../images/icons/sprite.svg#icon-category-sandvich');
}

.icon-mask--icon-category-asia  {
    mask-image: url('../../images/icons/sprite.svg#icon-category-asia');
}

.icon-mask--icon-category-dish  {
    mask-image: url('../../images/icons/sprite.svg#icon-category-dish');
}