<div class="dropdown">

    <label for="@dropdownId" class="dropdown__text icon icon--chevron-down">
        @dropdownTitle
    </label>
    <input type="checkbox" id="@dropdownId" class="dropdown__toggle">

    <ul class="dropdown__content">
        <li class="dropdown__item">
            <button class="dropdown__btn" href="#">
                За ціною
            </button>
        </li>
        <li class="dropdown__item">
            <button class="dropdown__btn" href="#">
                За назвою
            </button>
        </li>
        <li class="dropdown__item">
            <button class="dropdown__btn" href="#">
                За розміром
            </button>
        </li>
    </ul>

</div>