<div class="dropdown">

    <label for="toggle1" class="dropdown__text icon icon--chevron-down">За ціною</label>
    <input type="checkbox" id="toggle1" class="dropdown__toggle">

    <ul class="dropdown__content">
        <li><a class="dropdown__link" href="#">За ціною</a></li>
        <li><a class="dropdown__link" href="#">За назвою</a></li>
        <li><a class="dropdown__link" href="#">За розміром</a></li>
    </ul>

</div>

<div class="dropdown">

    <label for="toggle2" class="dropdown__text icon icon--chevron-down">По 12</label>
    <input type="checkbox" id="toggle2" class="dropdown__toggle">

    <ul class="dropdown__content">
        <li><a class="dropdown__link" href="#">По 12</a></li>
        <li><a class="dropdown__link" href="#">По 8</a></li>
        <li><a class="dropdown__link" href="#">По 4</a></li>
    </ul>

</div>