.dropdown {
    position: relative;
    display: inline-block;

    &__text {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 10px;
        padding: 15px;
        border: 1px solid $gray;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;

        &::before {
            width: 6px;
            height: 10px;
            background-color: $gray;
        }

        &:hover {

            &::before {
                background-color: $orange-900;
            }
        }

        &:hover {
            border-color: $orange-900;
            color: $orange-900;
        }

        &:focus {
            border-color: $orange-900;
        }

    }

    &__toggle {
        display: none;
    }

    &__toggle:checked~.dropdown__content {
        display: block;
    }

    &__content {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        z-index: 10;
        display: none;
        min-width: 100px;
        margin-top: 5px;
        border: 1px solid $gray;
        border-radius: 4px;
        background-color: $white;

        & .dropdown__btn {
            display: block;
            width: 100%;
            padding: 15px;
            color: $darkBlue-900;
            text-decoration: none;
            transition: background-color 0.4s, outline 0.4s;

            &:hover {
                outline: 1px solid $orange-900;
            }
        }
    }
}