.slider-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 0.5px;
    
    &__btn {
        border-radius: 50%;
        border: 3px solid $gray;
        outline: 2px solid transparent;
        padding: 8px;
        transition: border-color 0.4s, background-color 0.4s, outline-color 0.4s;

        &:hover {
            border-color: rgba($orange-900, 0.5);
            background-color: $orangeLight;

        &::before {
            background-color: rgba($orange-900, 0.5);
        }
    }

    &:focus {
        outline-color: $orange-900;
    }

    &:active {
        background-color: $orangeLight;
        border-color: transparent;
        &::before {
            background-color: $orange-900;
        }
    }

        &::before {
            display: block;
            width: 18px;
            height: 18px;
            background-color: $gray;
        }


        &--next {

        }

        &--prev {

        }
    }

    &__dots {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    &__dot {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: $gray;
        outline: 2px solid transparent;
        cursor: pointer;
        transition: outline-color 0.4s, background-color 0.4s;
        &--active {
            background-color: $orange-900;
        }

        &:hover {
            outline-color: rgba($orange-900, 0.5);
            background-color: $orangeLight;
        }

        &:focus {
            outline-color: $orange-900;
        }

        &:active {
            background-color: rgba($orange-900, 0.5);
        }
    }
}

.restaurant-slider {
    overflow: visible;
}

.review-slider {

    &__actions {

        .review-slider__dots {
            width: fit-content;
        }

        @include r($r-xs) {
            display: flex;
            justify-content: space-around;
            width: 100%;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    &__dots {
        @include r($r-xs) {
            display: none;
        }
    }
}