.footer {

    &__inner {
        display: flex;
        margin-bottom: 61px;

        @include r($r-lg) {
            gap: 45px;
        }

        @include r($r-sm) {
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 30px;
        }

        @include r($r-xs) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__box {
        margin-right: 70px;
        max-width: 200px;
        flex-shrink: 0;

        @include r($r-lg) {
            margin-right: 0;
            margin-bottom: 30px;
        }

        @include r($r-sm) {
            margin-bottom: 0;
        }

    }

    &__logo {
        display: block;
        margin-bottom: 30px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 15px 90px;

        @include r($r-lg) {
            margin-right: 0;
            gap: 15px 45px;
        }

        @include r($r-md) {
            flex-wrap: wrap;
            grid-template-columns: repeat(2, auto);
            gap: 2vw;
        }

        @include r($r-sm) {
            order: 1;
            grid-template-columns: repeat(4, auto);
        }

        @include r($r-xs) {
            display: flex;
            flex-direction: column;
            gap: 20px;
            order: 1;
        }
    }

    &__link {
        font-size: 18px;
        letter-spacing: 0.18px;
        font-weight: 400;
        line-height: 1.3;
        white-space: nowrap;
        line-break: anywhere;
        display: block;
        width: 100%;
    }

    &__text {
        display: flex;
        color: $white;
        font-size: 14px;
        line-height: 1;
        padding: 30px 0;
        background-color: $darkBlue-900;
        justify-content: center;
        outline: 2px solid transparent;
        transition: color 0.3s;

        &:hover {
            color: $orange-900;
        }

        @include r($r-sm) {
            padding: 20px 0;
        }
    }
}

.form {

    &__label {
        width: 100%;
    }

    &__input {
        width: 100%;
        margin-bottom: 12px;
        padding: 13px 15px;
        font-size: 14px;
        outline: 1px solid $gray;
        border-radius: 5px;
        background-color: $white;
        transition: color 0.3s, background-color 0.3s, outline-color 0.3s;

        &::placeholder {
            transition: color 0.3s;
        }

        &:hover::placeholder {
            color: $darkBlue-900;
        }

        &:hover {
            color: $orange-900;
            background-color: transparent;
            outline-color: rgba($orange-900, 0.7);
        }

        &:focus {
            color: $orange-900;
            outline-color: rgba($orange-900, 0.7);
            background-color: rgba($orange-900, 0.10);
        }

        &::placeholder {
            color: $gray;
        }
    }

    &__btn {
        font-weight: 500;
        padding: 13px 10px;
        width: 100%;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            &::before {
                background-color: $orange-900;
            }
        }

        &::before {
            width: 16px;
            height: 16px;
            margin-right: 20px;
            background-color: $white;
        }
    }

}

.address {
    margin-left: auto;
    margin-right: 80px;

    @include r($r-lg) {
        margin-right: 0;
        margin-left: 0;
    }

    @include r($r-sm) {
        margin-right: 0;
        margin-bottom: 0;
    }

    &__item {
        margin-bottom: 15px;
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 2;
        white-space: nowrap;

        &:hover {
            &::before {
                background-color: $orange-900;
            }
        }

        &::before {
            width: 20px;
            height: 18px;
            margin-right: 7px;
        }
    }
}

.social {
    display: flex;
    gap: 13px;

    @include r($r-sm) {
        margin-bottom: 0;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 2px solid transparent;
        border-radius: 50%;
        background-color: $silver-200;
        width: 39px;
        height: 39px;
        transition: background-color 3s, outline-color 3s;

        &::before {
            height: 20px;
        }

        &:hover {
            background-color: $orange-900;

            &::before {
                background-color: $white;
            }
        }

        &:focus {
            outline-color: rgba($orange-900, 0.7);
            background-color: rgba($orange-900, 0.10);
        }

        &:active {
            background-color: rgba($orange-900, 0.10);

            &::before {
                background-color: $orange-900;
            }
        }

    }

}