@mixin line-clamp($lines: 1) {
    @if $lines <=1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

// .class {
//     font-size: 14px;
//     @include line-clamp(3);
// }

@mixin r($width) {
    @media (max-width: #{$width}px) {
        @content;
    }
}

// 1200 992 768 576 

@mixin burger {
	width: $burgerWidth; 
	height: $burgerHeight; 
	position: relative;
	color: $burgerColor; 

	&__line {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: $burgerLineHeight; 
		background-color: currentColor;
		transition: transform 0.3s ease-in-out;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: $burgerLineHeight;
		background-color: currentColor;
		transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	}

	&::before {
		top: 0;
	}

	&::after {
		top: calc(100% - $burgerLineHeight);
	}

	&--active {
		.burger__line {
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}

		&::before {
			transform: rotate(45deg);
			top: 50%;
			transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
		}

		&::after {
			transform: rotate(-45deg);
			top: 50%;
			transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
		}
	}
}