html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote
{
    margin: 0;
    font: inherit;
}

label {
    // display: inline-block;
    font: inherit;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: contain;
}

input,
button,
textarea,
select,
address {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    outline: transparent;
}

select,
input,
textarea,
button {
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    outline: transparent;
}

textarea {
    resize: vertical;
}

button {
    cursor: pointer;
    padding: 0;
}