// colors

$bg-color: #f9faff;
$orange-900: #ff6838;
$peorpleLight: #ffdace;
$orangeLight: #fff2ed;
$silver-200: #ececec;
$grayLight: #eeeff3;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;

$black: #000000;
$white: #ffffff;
$red: #FF2222;
$blue: #00AAFF;
$yellow: rgba(255, 184, 0, 1);

// breakpoints

$r-lg: 1200;
$r-md: 992;
$r-sm: 768;
$r-xs: 576;