#mswiper .swiper-pagination {
    display: flex;
    gap: 15px;
    justify-content: center;

}

#mswiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: $gray;
    opacity: 1;
}

#mswiper .swiper-pagination-bullet-active {
    background-color: $orange-900;
}

#mswiper .swiper-button-next,
#mswiper .swiper-button-prev {
    display: block;
}

#mswiper .swiper-button-next::after,
#mswiper .swiper-button-prev::after {
    background-color: $darkBlue-900;
    height: 34px;
    width: 34px;
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}


#mswiper .swiper-button-next::after {
    mask-image: url('../../images/icons/nextarrow.svg');
}

#mswiper .swiper-button-prev::after {
    mask-image: url('../../images/icons/prevarrow.svg');
}

#mswiper .swiper__navigation {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
