.review-slider {

    &__actions {
        .review-slider__dots {
            width: fit-content;
        }
    }
}

.slider-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__btn {
        width: 50px;
        height: 50px;
        background-color: aqua;
        &--next {

        }

        &--prev {

        }
    }

    &__dots {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    &__dot {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: black;
        &--active {
            background-color: red;
        }
    }
}
