.menu {
    display: flex;
    align-items: center;
    padding: 61px 5px 59px 5px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        margin: 0 53px 0 auto;
        gap: 40px;
    }

    &__link {
        @extend .link;
        border-radius: 5px;
        font-size: 18px;
        letter-spacing: 0.18px;
        &--active {
            color: $orange-900;
        }
    }
}

.user-nav {
    display: flex;
    align-items: center;
    margin-right: -3px;
    gap: 15px;

    &--btn {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    &__number {
        position: absolute;
        border-radius: 50%;
        background-color: $orange-900;
        right: 1px;
        top: 5px;
        width: 14px;
        height: 14px;
        color: $white;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.icon-mask--icon-cart {
    mask-image: url('../../images/icons/sprite.svg#icon-cart');
    width: 19px;
    height: 19px;
}

.icon-mask--icon-search {
    mask-image: url('../../images/icons/sprite.svg#icon-search');
    width: 19px;
    height: 19px;
}