.header {
    padding: 60px 0;

    &__logo {
        display: block;
    }

}

.menu {
    display: flex;
    align-items: center;
    gap: 54px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: auto;
        gap: 40px;
    }

    &__link {
        @extend .link;
        border-radius: 5px;
        font-size: 18px;
        letter-spacing: 0.18px;

        &--active {
            color: $orange-900;
        }

    }
}

.user-nav {
    display: flex;
    align-items: center;
    margin-right: 5px;
    gap: 15px;

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        outline: 2px solid transparent;
        transition: background-color 0.3s, color 0.3s, outline-color 0.3s;

        &:hover {
            background-color: $orange-900;
        }

        &:hover .user-nav__number {
            background-color: $white;
            color: $orange-900;
        }

        &:focus {
            outline-color: rgba($orange-900, 0.70);
            background-color: rgba($orange-900, 0.10);
        }

        &:active {
            background-color: rgba($orange-900, 0.10);
        }

    }

    &__number {
        position: absolute;
        border-radius: 15px;
        background-color: $orange-900;
        right: 1px;
        top: 5px;
        min-width: 14px;
        height: 14px;
        color: $white;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
    }
}

.icon {

    &--user-nav {
        &:hover {
            &::before {
                background-color: $white;
            }
        }
    }
    &--cart {
        &::before {
            width: 19px;
            height: 19px;
            mask-image: url('../../images/icons/sprite.svg#icon-cart');
        }
    }

    &--search {
        &::before {
            width: 19px;
            height: 19px;
            mask-image: url('../../images/icons/sprite.svg#icon-search');
        }
    }
}