@mixin r($width) {
    @media (max-width: #{$width}px) {
        @content;
    }
}

.header {
    padding: 60px 0;

    @include r(576) {
        padding: 14px 0;
    }

    &__logo {
        display: block;
        margin-left: 5px;

        @include r(576) {

            & {
                margin: 0 auto 0 0;
            }

            .logo__img {
                width: 115px;
                height: 23px;
            }
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 51px;

    @include r(576) {
        gap: 20px;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: auto;
        gap: 40px;

        @include r(576) {
            display: none;
        }
    
    }

    &__link {
        @extend .link;
        border-radius: 5px;
        font-size: 18px;
        letter-spacing: 0.18px;

        &--active {
            color: $orange-900;
        }

    }
}

.user-nav {
    display: flex;
    align-items: center;
    gap: 10px;

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 5px;
        outline: 2px solid transparent;
        transition: background-color 0.3s, color 0.3s, outline-color 0.3s;

        &::before {
            width: 19px;
            height: 19px;
        }

        &:hover {
            background-color: $orange-900;

            &::before {
                background-color: $white;
            }
        }

        &:hover .user-nav__number {
            background-color: $white;
            color: $orange-900;
        }

        &:focus {
            outline-color: rgba($orange-900, 0.70);
            background-color: rgba($orange-900, 0.10);
        }

        &:active {
            background-color: rgba($orange-900, 0.10);
        }

    }

    &__number {
        position: absolute;
        border-radius: 15px;
        background-color: $orange-900;
        right: 1px;
        top: 5px;
        min-width: 14px;
        height: 14px;
        color: $white;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s, color 0.3s, outline-color 0.3s;
    }
}